@model OrderEntry.Models.Orders.SeparationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

    var separation = Model.Separation;
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Separation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => separation.SeparationId)

        <div class="form-group">
            @Html.LabelFor(model => separation.DesignNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.DesignNum)
                @Html.ValidationMessageFor(model => separation.DesignNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.DesignName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.DesignName)
                @Html.ValidationMessageFor(model => separation.DesignName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.CustDesignNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.CustDesignNum)
                @Html.ValidationMessageFor(model => separation.CustDesignNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.CustDesignName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.CustDesignName)
                @Html.ValidationMessageFor(model => separation.CustDesignName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.Owner)
                @Html.ValidationMessageFor(model => separation.Owner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.SoldTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.SoldTo)
                @Html.ValidationMessageFor(model => separation.SoldTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.Disk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.Disk)
                @Html.ValidationMessageFor(model => separation.Disk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.Swatch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.Swatch)
                @Html.ValidationMessageFor(model => separation.Swatch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.Artwork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.Artwork)
                @Html.ValidationMessageFor(model => separation.Artwork)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.DateReceived, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.DateReceived)
                @Html.ValidationMessageFor(model => separation.DateReceived)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.ToBeEngraved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.ToBeEngraved)
                @Html.ValidationMessageFor(model => separation.ToBeEngraved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.SentToSeparation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.SentToSeparation)
                @Html.ValidationMessageFor(model => separation.SentToSeparation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.SentToEngraveDept, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.SentToEngraveDept)
                @Html.ValidationMessageFor(model => separation.SentToEngraveDept)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.DesignDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.DesignDescription)
                @Html.ValidationMessageFor(model => separation.DesignDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.DesignCoordinates, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.DesignCoordinates)
                @Html.ValidationMessageFor(model => separation.DesignCoordinates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.WebUpload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.WebUpload)
                @Html.ValidationMessageFor(model => separation.WebUpload)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.Comments)
                @Html.ValidationMessageFor(model => separation.Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.SeparationCharges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.SeparationCharges)
                @Html.ValidationMessageFor(model => separation.SeparationCharges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => separation.SeparationChargesDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => separation.SeparationChargesDescription)
                @Html.ValidationMessageFor(model => separation.SeparationChargesDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
