@model IEnumerable<OrderEntry.Models.Separation>

<title>Separations</title>

<br />
<div class="row">
    <div class="col-md-12">
        <span class="Header">Separations</span>
    </div>
</div>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesignNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldTo)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentToSeparation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentToEngraveDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeparationCharges)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldTo)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.SentToSeparation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentToEngraveDept)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.SeparationCharges)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeparationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeparationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeparationId })
        </td>
    </tr>
}

</table>
