@model OrderEntry.Models.Separation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Separation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DesignId)

        <div class="form-group">
            @Html.LabelFor(model => model.DesignNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignNum)
                @Html.ValidationMessageFor(model => model.DesignNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignName)
                @Html.ValidationMessageFor(model => model.DesignName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustDesignNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustDesignNum)
                @Html.ValidationMessageFor(model => model.CustDesignNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustDesignName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustDesignName)
                @Html.ValidationMessageFor(model => model.CustDesignName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoldTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoldTo)
                @Html.ValidationMessageFor(model => model.SoldTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Disk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Disk)
                @Html.ValidationMessageFor(model => model.Disk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Swatch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Swatch)
                @Html.ValidationMessageFor(model => model.Swatch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artwork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artwork)
                @Html.ValidationMessageFor(model => model.Artwork)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateReceived, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateReceived)
                @Html.ValidationMessageFor(model => model.DateReceived)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToBeEngraved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToBeEngraved)
                @Html.ValidationMessageFor(model => model.ToBeEngraved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SentToSeparation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SentToSeparation)
                @Html.ValidationMessageFor(model => model.SentToSeparation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SentToEngraveDept, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SentToEngraveDept)
                @Html.ValidationMessageFor(model => model.SentToEngraveDept)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignDescription)
                @Html.ValidationMessageFor(model => model.DesignDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignCoordinates, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignCoordinates)
                @Html.ValidationMessageFor(model => model.DesignCoordinates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WebUpload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebUpload)
                @Html.ValidationMessageFor(model => model.WebUpload)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeparationCharges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeparationCharges)
                @Html.ValidationMessageFor(model => model.SeparationCharges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeparationChargesDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeparationChargesDescription)
                @Html.ValidationMessageFor(model => model.SeparationChargesDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
