@model OrderEntry.Models.Order

@{
    ViewBag.Title = "Details";
}
<br />
<div class="row">
    <div class="col-md-12">
        <span class="Header">Details</span>
    </div>
</div>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ODATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORDNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORDNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SNAME1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNAME1)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CSNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSADR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSADR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSADR2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSADR2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSADR3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSADR3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSCITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSCITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSZIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSZIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSCOUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSCOUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSATTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSATTN)
        </dd>    

        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OHSTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OHSTATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
