@model OrderEntry.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.SDATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDATE)
                @Html.ValidationMessageFor(model => model.SDATE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CUSTNA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CUSTNA)
                @Html.ValidationMessageFor(model => model.CUSTNA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORDNO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CORDNO)
                @Html.ValidationMessageFor(model => model.CORDNO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SNAME1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SNAME1)
                @Html.ValidationMessageFor(model => model.SNAME1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSNAME)
                @Html.ValidationMessageFor(model => model.CSNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSADR1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSADR1)
                @Html.ValidationMessageFor(model => model.CSADR1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSADR2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSADR2)
                @Html.ValidationMessageFor(model => model.CSADR2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSADR3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSADR3)
                @Html.ValidationMessageFor(model => model.CSADR3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSCITY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSCITY)
                @Html.ValidationMessageFor(model => model.CSCITY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSST, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSST)
                @Html.ValidationMessageFor(model => model.CSST)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSZIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSZIP)
                @Html.ValidationMessageFor(model => model.CSZIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSCOUNTRY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSCOUNTRY)
                @Html.ValidationMessageFor(model => model.CSCOUNTRY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSATTN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSATTN)
                @Html.ValidationMessageFor(model => model.CSATTN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.REMARKS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.REMARKS)
                @Html.ValidationMessageFor(model => model.REMARKS)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
