@model IEnumerable<OrderEntry.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ODATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTNA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORDNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SNAME1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSNAME)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ODATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTNA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORDNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SNAME1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSNAME)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
